@import "styles/variables";

.header {
  margin: 1rem 7rem;

  &__title {
    font-size: $font-size--xxl;
    font-weight: $font-weight--bold;
    margin-bottom: 0.3rem;
  }

  &__attribution {
    color: $secondary-color;
  }

  @media #{$media-desktop-sm} {
    margin: 1rem 4rem;
  }

  @media #{$media-tablet} {
    margin: 1rem 6.5rem;
  }

  @media #{$media-mobile} {
    margin: 1rem 4rem;

    &__attribution {
      font-size: $font-size--sm;
    }
  }

  @media #{$media-mobile-sm} {
    margin: 1rem 1.5rem;
  }
}
