@import "styles/variables";

.main-content {
  margin: 1rem 3rem;

  @media #{$media-desktop-sm} {
    margin: 1rem 2.5rem;
  }

  @media #{$media-tablet} {
    margin: 1rem 2rem;
  }

  @media #{$media-mobile} {
    margin: 1rem 1.5rem;
  }
}
