@import "styles/variables";

.main-content {
  margin: 1rem 7rem;

  @media #{$media-desktop-sm} {
    margin: 1rem 4rem;
  }

  @media #{$media-tablet} {
    margin: 1rem 6.5rem;
  }

  @media #{$media-mobile} {
    margin: 1rem 4rem;
  }

  @media #{$media-mobile-sm} {
    margin: 1rem 1.5rem;
  }
}
