@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin default-button {
  @include flex-center();

  background: none;
  border: none;
  cursor: pointer;
  height: 40px;
}

@mixin icon-button($bg-color, $border-color) {
  @include default-button();

  justify-content: center;
  border-radius: 50%;
  width: 40px;

  &:hover,
  &:focus-visible {
    background-color: $bg-color;
  }

  &:focus-visible {
    outline: none;
    border: 2px solid $border-color;
  }

  svg {
    height: 1.4em;
    width: 1.4em;
    color: $secondary-color;
  }

  @media #{$media-mobile-sm} {
    height: 35px;
    width: 35px;

    svg {
      height: 1.25em;
      width: 1.25em;
    }
  }
}
