@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap");
@import "variables";
@import "reset";

body {
  font-family: $font-family;
  color: $primary-color;
  font-size: $font-size--base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: $header--font-family;
}

button {
  font-family: $font-family;
}

img {
  object-fit: cover;
}
