@import "styles/variables";
@import "styles/mixins";

.menu-button {
  @include default-button();

  height: 50px;
  width: 100%;
  padding: 1rem 1.2rem 1rem 1rem;
  font-size: $font-size--base;

  &:hover,
  &:focus-visible {
    outline: none;
    background-color: $bg-light--primary;
  }

  svg {
    margin-right: 0.8rem;
    color: $secondary-color;
  }
}
