@import "styles/variables";
@import "styles/mixins";

.like-button {
  @include icon-button($bg-like-button, $like-button-outline);

  transition: all 0.25s $like-animation-bezier;

  &--active {
    animation: shadow-pulse 1.5s;

    svg {
      animation: heart-pulse 0.25s $like-animation-bezier both;
    }
  }
}

/** Like animations **/
@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0);
  }
}
@keyframes heart-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}
